.movie-title {
  margin: 20px 20px;
  padding: 10px 10px;
  font-size: 1.2em;
  border: solid 1px #222A12;
  border-radius: 5px;
  cursor: pointer;
  width: 190px;
  height: 310px;
  position: relative;
}

.movie-title--button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  cursor: pointer;
  background-color: #222A12;
  border-style: none;
  font-size: 40px;
  color: #FFA500;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.movie-title:hover img {
  filter: opacity(30%);
}

.movie-title:hover .movie-title--button {
  display: block;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}