.movie-title {
  margin: 20px 20px;
  padding: 10px 10px;
  font-size: 1.2em;
  border: solid 1px #222A12;
  border-radius: 5px;
  cursor: pointer;
  width: 190px;
  height: 310px;
  position: relative;
}

.movie-title--button {
  display: none;
  cursor: pointer;
  background-color: #222A12;
  border-style: none;
  font-size: 40px;
  color: #FFA500;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 38%;
  width: 60px;
}

.movie-title:hover img {
  filter: opacity(30%);
}

.movie-title:hover .movie-title--button {
  display: block;
  filter: grayscale(100%);
}